body {
    background-color: #dbd4df; 
}

.card {
    background-color: #c4b495;
    border: 1px solid #dee2e6; 
    border-radius: 0.5rem; 
}

.form-label {
    color: #343a40;
    font-weight: bold; 
}

.form-select {
    color: #495057; 
}

.btn-primary {
    background-color: #553f14; 
    border-color: #c4b495; 
}

.btn-primary:hover {
    background-color: #c4b495; 
    border-color: #c4b495;
}

#playerInfo {
    color: #5e4617; 
    font-weight: bold; 
    margin-top: 1rem;
}
